## Wrangling and Analyze the tweets of We Rate Dogs twitter account

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#Gathering">Data Gathering</a></li>
<li><a href="#Assessing">Data Assessing</a></li>
<li><a href="#Cleaning">Data Cleaning</a></li>
<li><a href="#Storing">Storing</a></li>
</ul>

<a id='intro'></a>
## Introduction

WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. 
Data splitted in three tables: tweets_archive, tweets_image_predictions and tweets_counts

<a id='Gathering'></a>
## Data Gathering

In [1]:
import pandas as pd
import requests as req
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import io
import json

1- Tweets Archive

In [2]:
tweets_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
tweets_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

2- Tweets Images Predictions

In [4]:
image_predictions_response = req.get(' https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [5]:
tweets_image_predictions = pd.read_csv(io.StringIO(image_predictions_response.content.decode('utf-8')),sep = '\t')

In [6]:
tweets_image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

3- Tweets Counts

Tweets counts can be gathering using twitter API, it came as JSON data and saved in tweet_json.txt file

In [7]:
__location__ = os.path.realpath(os.path.join(os.getcwd(), os.path.dirname('tweet-json.txt')))

In [8]:
with open (os.path.join(__location__,'tweet-json.txt')) as file:
    tweets_json_txt = file.read().splitlines()

In [9]:
tweets_json = []
for line in tweets_json_txt:
    tweets_json.append(json.loads(line))

In [10]:
tweets_json[0].keys()

dict_keys(['created_at', 'id', 'id_str', 'full_text', 'truncated', 'display_text_range', 'entities', 'extended_entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'possibly_sensitive_appealable', 'lang'])

In [11]:
df_list =[]
for jsonLine in tweets_json:
    tweet_id = jsonLine['id']
    retweet_count = jsonLine['retweet_count']
    favorite_count = jsonLine['favorite_count']
    df_list.append({'tweet_id': tweet_id,
                        'retweet_count': retweet_count,
                        'favorite_count': favorite_count})
tweets_counts = pd.DataFrame(df_list, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

In [12]:
tweets_counts.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

<a id='Assessing'></a>
## Data Assessing

Both visual and programatic assessments can be used to assess the data and find quality and tidness issues

### 1 - Tweets Archive Table

In [13]:
tweets_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [14]:
tweets_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [15]:
pd.options.display.max_colwidth = 1000
tweets_archive[tweets_archive['rating_denominator'] != 10]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1",84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582966214656/photo/1,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118184652801/photo/1,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603437621249/photo/1,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690886586372/photo/1,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031882764288/photo/1,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037429899265/photo/1,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80,None,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,an,None,None,None,None

In [16]:
tweets_archive.name.value_counts()

None        745
a            55
Charlie      12
Cooper       11
Oliver       11
           ...
Flurpson      1
Gilbert       1
Cal           1
Sparky        1
Robin         1
Name: name, Length: 957, dtype: int64

In [17]:
tweets_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

### General

Erroneous tweet id datatype <br>

##### `tweets archive` table
#### Quality
1 - Some data are for retweets not for original tweets <br>
2 - Source column is not readable <br>
3 - Erroneous Time stamp datatype <br>
4 - Missing expanded urls <br>
5 - Some dogs names are incorrect <br>
6 - Some tweets have incorrect rating: <br>
  - 960/00 rating correct rating is 13/10
  - 11/15 rating there is no rating in this tweet
  - 24/7 rating, there is no rating in this tweet
  - 9/11 rating, correct rating is 14/10
  - 4/20 rating, correct rating is 13/10
  - 50/50 rating, correct rating 11/10
  - 7/11 rating, correct rating is 10/10
  - 1/2 rating, correct rating is 9/10
    

                                                                  
#### Tidiness
1 - Dog stage splitted in multi columns

### 2 - Tweets Images Predictions Table

In [18]:
tweets_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [19]:
tweets_image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

#### `tweets image predictions` table
#### Quality
1 - Coulmns names are not clear

### 3 - Tweets Counts table

In [20]:
tweets_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

In [21]:
tweets_counts.describe()

           tweet_id  retweet_count  favorite_count
count  2.354000e+03    2354.000000     2354.000000
mean   7.426978e+17    3164.797366     8080.968564
std    6.852812e+16    5284.770364    11814.771334
min    6.660209e+17       0.000000        0.000000
25%    6.783975e+17     624.500000     1415.000000
50%    7.194596e+17    1473.500000     3603.500000
75%    7.993058e+17    3652.000000    10122.250000
max    8.924206e+17   79515.000000   132810.000000

##### `tweets counts` table        

#### Tidiness
1 - Tweets counts should be part of the tweets archive table

<a id='Cleaning'></a>
## Data Cleaning

In [22]:
tweets_archive_clean = tweets_archive.copy()
tweets_image_predictions_clean = tweets_image_predictions.copy()
tweets_counts_clean = tweets_counts.copy()

### General

Erroneous tweet id datatype in all tables

#### Define
Convert tweet id type to string

#### Code

In [23]:
tweets_archive_clean.tweet_id = tweets_archive_clean.tweet_id.astype(str)
tweets_image_predictions_clean.tweet_id = tweets_image_predictions_clean.tweet_id.astype(str)
tweets_counts_clean.tweet_id = tweets_counts_clean.tweet_id.astype(str)

#### Test

In [24]:
tweets_archive_clean.tweet_id.dtype

dtype('O')

In [25]:
tweets_image_predictions_clean.tweet_id.dtype

dtype('O')

In [26]:
tweets_counts_clean.tweet_id.dtype

dtype('O')

### 1 - Tweets Archive Table

1 - Some data are for retweets not for original tweets

##### Define
Get tweets ids for retweeted data then remove them from all tables, then drop retweets data columns

#### Code

In [27]:
retweets_ids = tweets_archive[tweets_archive['retweeted_status_id'].notnull()]['tweet_id']
retweets_indecies = retweets_ids.index

tweets_archive_clean.drop(retweets_indecies,inplace = True)

In [28]:
retweets_image_predictions_indecies = tweets_image_predictions[tweets_image_predictions['tweet_id'].isin(retweets_ids)].index

tweets_image_predictions_clean.drop(retweets_image_predictions_indecies,inplace = True)

In [29]:
retweets_counts_indecies = tweets_counts[tweets_counts['tweet_id'].isin(retweets_ids)].index

tweets_counts_clean.drop(retweets_counts_indecies,inplace = True)

In [30]:
retweets_columns = ['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp']
tweets_archive_clean.drop(retweets_columns,axis = 1, inplace= True)

#### Test

In [31]:
tweets_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

2 - Source column is not readable

##### Define
Replace each source with just its last part

#### Code

In [32]:
tweets_archive_clean['source'] = tweets_archive['source'].str.strip('</a>')

In [33]:
tweets_archive_clean['source'] = tweets_archive_clean['source'].str.split('>').str[-1]

#### Test

In [34]:
tweets_archive_clean.source.value_counts()

Twitter for iPhone     2042
Vine - Make a Scene      91
Twitter Web Client       31
TweetDeck                11
Name: source, dtype: int64

3 - Erroneous Time stamp datatype

#### Define
Remove '+0000' from each timestamp and then convert its type to datetime type

#### Code

In [35]:
tweets_archive_clean['timestamp'] = tweets_archive['timestamp'].str[:-6]

In [36]:
tweets_archive_clean['timestamp'] = pd.to_datetime(tweets_archive_clean['timestamp'])

#### Test

In [37]:
tweets_archive_clean.timestamp

0      2017-08-01 16:23:56
1      2017-08-01 00:17:27
2      2017-07-31 00:18:03
3      2017-07-30 15:58:51
4      2017-07-29 16:00:24
               ...
2351   2015-11-16 00:24:50
2352   2015-11-16 00:04:52
2353   2015-11-15 23:21:54
2354   2015-11-15 23:05:30
2355   2015-11-15 22:32:08
Name: timestamp, Length: 2175, dtype: datetime64[ns]

4 - Missing expanded urls

#### Define
Fill missing urls with 'https://twitter.com/dog_rates/status/' concated with tweet id

#### Code

In [38]:
for i in tweets_archive_clean[tweets_archive_clean['expanded_urls'].isnull()].index:
         tweets_archive_clean['expanded_urls'] = tweets_archive_clean['expanded_urls'].replace(tweets_archive_clean.loc[i]['expanded_urls'],'https://twitter.com/dog_rates/status/'+tweets_archive_clean.loc[i]['tweet_id'])

#### Test

In [39]:
tweets_archive_clean[tweets_archive_clean['expanded_urls'].isnull()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

5 - Some dogs names are incorrect

#### Define
Replace incorrect names with 'None'

#### Code

In [40]:
tweets_archive_clean[tweets_archive_clean['name'].str.islower()].name.value_counts()

a               55
the              8
an               6
very             4
one              4
quite            3
just             3
not              2
actually         2
getting          2
unacceptable     1
by               1
his              1
officially       1
mad              1
all              1
light            1
incredibly       1
space            1
such             1
this             1
old              1
my               1
infuriating      1
life             1
Name: name, dtype: int64

In [41]:
for i in tweets_archive_clean[tweets_archive_clean['name'].str.islower()].index:
         tweets_archive_clean['name'] = tweets_archive_clean['name'].replace(tweets_archive_clean.loc[i]['name'],'None')

#### Test

In [42]:
tweets_archive_clean.name.value_counts()

None       784
Lucy        11
Charlie     11
Cooper      10
Oliver      10
          ...
Jameson      1
Lolo         1
Shooter      1
Robin        1
Howie        1
Name: name, Length: 931, dtype: int64

6 - Some tweets have incorrect rating: <br>
  - 960/00 rating correct rating is 13/10
  - 11/15 rating there is no rating in this tweet
  - 24/7 rating, there is no rating in this tweet
  - 9/11 rating, correct rating is 14/10
  - 4/20 rating, correct rating is 13/10
  - 50/50 rating, correct rating 11/10
  - 7/11 rating, correct rating is 10/10
  - 1/2 rating, correct rating is 9/10

#### Define
Replace each incorrect rating with correct one and drop the tweets that has no rating

#### Code

In [43]:
def replace_rating(data_frame,old_numerator, old_denominator,new_numerator, new_denominator):
       data_frame.loc[(data_frame.rating_numerator == old_numerator) & (data_frame.rating_denominator == old_denominator) ,'rating_numerator']=new_numerator
       data_frame.loc[(data_frame.rating_numerator == new_numerator) & (data_frame.rating_denominator == old_denominator) ,'rating_denominator']=new_denominator

In [44]:
replace_rating(tweets_archive_clean,960,00,13,10)
replace_rating(tweets_archive_clean,9,11,14,10)
replace_rating(tweets_archive_clean,4,20,13,10)
replace_rating(tweets_archive_clean,50,50,11,10)
replace_rating(tweets_archive_clean,7,11,10,10)
replace_rating(tweets_archive_clean,1,2,9,10)

In [45]:
invalid_rating_tweet_id = tweets_archive_clean[(tweets_archive_clean.rating_numerator == 11) & (tweets_archive_clean.rating_denominator == 15)]['tweet_id']
tweets_archive_clean.drop(invalid_rating_tweet_id.index,inplace = True)
tweets_image_predictions_clean.drop(tweets_image_predictions_clean[tweets_image_predictions_clean['tweet_id'].isin(invalid_rating_tweet_id)].index,inplace= True)
tweets_counts_clean.drop(tweets_counts_clean[tweets_counts_clean['tweet_id'].isin(invalid_rating_tweet_id)].index,inplace= True)

In [46]:
invalid_rating_tweet_id = tweets_archive_clean[(tweets_archive_clean.rating_numerator == 24) & (tweets_archive_clean.rating_denominator == 7)]['tweet_id']
tweets_archive_clean.drop(invalid_rating_tweet_id.index,inplace = True)
tweets_image_predictions_clean.drop(tweets_image_predictions_clean[tweets_image_predictions_clean['tweet_id'].isin(invalid_rating_tweet_id)].index,inplace= True)
tweets_counts_clean.drop(tweets_counts_clean[tweets_counts_clean['tweet_id'].isin(invalid_rating_tweet_id)].index,inplace= True)

#### Test

In [47]:
tweets_archive_clean[tweets_archive_clean['rating_denominator'] != 10]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40,Twitter for iPhone,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,"https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1",84,70,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57,Twitter for iPhone,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54,Twitter for iPhone,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,None,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02,Twitter for iPhone,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,https://twitter.com/dog_rates/status/713900603437621249/photo/1,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49,Twitter for iPhone,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,https://twitter.com/dog_rates/status/710658690886586372/photo/1,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08,Twitter for iPhone,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30,Twitter for iPhone,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,None,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59,Twitter for iPhone,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,https://twitter.com/dog_rates/status/697463031882764288/photo/1,44,40,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44,Twitter for iPhone,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3","https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18,Twitter for iPhone,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03,Twitter for iPhone,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",https://twitter.com/dog_rates/status/667070482143944705,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23,Twitter for iPhone,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41,Twitter for iPhone,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80,None,None,None,None,None

#### Tidiness
1 - Dog stage splitted in multi columns

#### Define

Melt dog stage columns in one column

#### Code

In [48]:
#Get each stage count to ensure that they will remain same after melting
tweets_archive_clean.doggo.value_counts()

None     2086
doggo      87
Name: doggo, dtype: int64

In [49]:
tweets_archive_clean.floofer.value_counts()

None       2163
floofer      10
Name: floofer, dtype: int64

In [50]:
tweets_archive_clean.pupper.value_counts()

None      1939
pupper     234
Name: pupper, dtype: int64

In [51]:
tweets_archive_clean.puppo.value_counts()

None     2148
puppo      25
Name: puppo, dtype: int64

In [52]:
tweets_archive_clean = pd.melt(tweets_archive_clean, 
        id_vars = ['tweet_id', 'in_reply_to_status_id','in_reply_to_user_id','timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name'], 
        value_vars = ['doggo', 'floofer', 'pupper', 'puppo'], 
        var_name = 'stage', value_name = 'dog_stage')

In [53]:
tweets_archive_clean = tweets_archive_clean.sort_values('dog_stage').drop_duplicates('tweet_id', keep = 'last')

In [54]:
tweets_archive_clean.drop('stage',axis =1,inplace =True)

#### Test

In [55]:
tweets_archive_clean.dog_stage.value_counts()

None       1829
pupper      234
doggo        75
puppo        25
floofer      10
Name: dog_stage, dtype: int64

In [56]:
tweets_archive_clean.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
3828,676098748976615425,NaN,NaN,2015-12-13 17:57:57,Twitter for iPhone,Extremely rare pup here. Very religious. Always praying. Too many legs. Not overwhelmingly fluffy. Won't bark. 3/10 https://t.co/REyE5YKVBb,https://twitter.com/dog_rates/status/676098748976615425/photo/1,3,10,None,None
2161,666071193221509120,NaN,NaN,2015-11-16 01:52:02,Twitter for iPhone,Here we have a northern speckled Rhododendron. Much sass. Gives 0 fucks. Good tongue. 9/10 would caress sensually https://t.co/ZoL8kq2XFx,https://twitter.com/dog_rates/status/666071193221509120/photo/1,9,10,None,None
3399,699079609774645248,NaN,NaN,2016-02-15 03:55:41,Twitter for iPhone,Meet Reagan. He's a Persnicketus Derpson. Great with kids. Permanently caught off guard. 8/10 https://t.co/A2j2StfNgL,"https://twitter.com/dog_rates/status/699079609774645248/photo/1,https://twitter.com/dog_rates/status/699079609774645248/photo/1,https://twitter.com/dog_rates/status/699079609774645248/photo/1,https://twitter.com/dog_rates/status/699079609774645248/photo/1",8,10,Reagan,None
5339,720340705894408192,NaN,NaN,2016-04-13 19:59:42,Twitter for iPhone,This is Derek. He just got balled on. Can't even get up. Poor thing. 10/10 hang in there pupper https://t.co/BIRRF3bcWH,https://twitter.com/dog_rates/status/720340705894408192/photo/1,10,10,Derek,pupper
2898,759099523532779520,NaN,NaN,2016-07-29 18:53:24,Twitter for iPhone,Meet Toby. He has a drinking problem. Inflatable marijuana plant in the back is also not a good look. 7/10 cmon Toby https://t.co/Cim4DSj6Oi,https://twitter.com/dog_rates/status/759099523532779520/photo/1,7,10,Toby,None
3452,695051054296211456,NaN,NaN,2016-02-04 01:07:39,Twitter for iPhone,"Meet Brian (pronounced ""Kirk""). He's not amused by ur churlish tomfoolery. Once u put him down you're done for. 6/10 https://t.co/vityMwPKKi","https://twitter.com/dog_rates/status/695051054296211456/photo/1,https://twitter.com/dog_rates/status/695051054296211456/photo/1",6,10,Brian,None
3516,690597161306841088,NaN,NaN,2016-01-22 18:09:28,Twitter for iPhone,This is Lolo. She's America af. Behind in science &amp; math but can say whatever she wants on Twitter. 11/10 ...Merica https://t.co/Nwi3SYe8KA,https://twitter.com/dog_rates/status/690597161306841088/photo/1,11,10,Lolo,None
2417,838561493054533637,NaN,NaN,2017-03-06 01:26:54,Twitter for iPhone,This is Walter. His owner has been watching all the Iditarod coverage and is convinced Walter can be a sled dog. 13/10 Walter isn't so sure https://t.co/0av1PEehFI,https://twitter.com/dog_rates/status/838561493054533637/photo/1,13,10,Walter,None
2276,870374049280663552,NaN,NaN,2017-06-01 20:18:38,Twitter for iPhone,This is Zoey. She really likes the planet. Would hate to see willful ignorance and the denial of fairly elemental science destroy it. 13/10 https://t.co/T1xlgaPujm,https://twitter.com/dog_rates/status/870374049280663552/photo/1,13,10,Zoey,None
3211,714957620017307648,NaN,NaN,2016-03-29 23:29:14,Twitter for iPhone,This is Curtis. He's an Albino Haberdasher. Terrified of dandelions. They really spook him up. 10/10 it'll be ok pup https://t.co/s8YcfZrWhK,https://twitter.com/dog_rates/status/714957620017307648/photo/1,10,10,Curtis,None
97,871515927908634625,NaN,NaN,2017-06-04 23:56:03,Twitter for iPhone,This is Napolean. He's a Raggedy East Nicaraguan Zoom Zoom. Runs on one leg. Built for deception. No eyes. Good with kids. 12/10 great doggo https://t.co/PR7B7w1rUw,"https://twitter.com/dog_rates/status/871515927908634625/photo/1,https://twitter.com/dog_rates/status/871515927908634625/photo/1",12,10,Napolean,doggo
3460,694206574471057408,NaN,NaN,2016-02-01 17:11:59,Twitter for iPhone,"""Martha come take a look at this. I'm so fed up with the media's unrealistic portrayal of dogs these days."" 10/10 https://t.co/Sd4qAdSRqI",https://twitter.com/dog_rates/status/694206574471057408/photo/1,10,10,None,None
2063,667886921285246976,NaN,NaN,2015-11-21 02:07:05,Twitter for iPhone,This is Erik. He's fucken massive. But also kind. Let's people hug him for free. Looks soft. 11/10 I would hug Erik https://t.co/MT7Q4aDQS1,https://twitter.com/dog_rates/status/667886921285246976/photo/1,11,10,Erik,None
4118,670338931251150849,NaN,NaN,2015-11-27 20:30:30,Twitter for iPhone,This is Butters. He's not ready for Thanksgiving to be over. 10/10 poor Butters https://t.co/iTc578yDmY,https://twitter.com/dog_rates/status/670338931251150849/photo/1,10,10,Butters,None
3769,677918531514703872,NaN,NaN,2015-12-18 18:29:07,Twitter for iPhone,"""Everything looks pretty good in there. Make sure to brush your gums. Been flossing? How's school going?"" Both 10/10 https://t.co/lWL2IMJqLR",https://twitter.com/dog_rates/status/677918531514703872/photo/1,10,10,None,None
3663,682393905736888321,NaN,NaN,2015-12-31 02:52:40,Twitter for iPhone,This is Kreg. He's riding an invisible jet ski. 11/10 that's downright legendary https://t.co/BA5AV5dx6Y,https://twitter.com/dog_rates/status/682393905736888321/photo/1,11,10,Kreg,None
2844,768473857036525572,NaN,NaN,2016-08-24 15:43:39,Twitter for iPhone,Meet Chevy. He had a late breakfast and now has to choose between a late lunch or an early dinner. 11/10 very pupset https://t.co/goy9053wC7,https://twitter.com/dog_rates/status/768473857036525572/photo/1,11,10,Chevy,None
3156,723673163800948736,NaN,NaN,2016-04-23 00:41:42,Twitter for iPhone,This is Ivar. She is a badass Viking warrior. Will sack your village. 10/10 savage af https://t.co/Dz6MiVssVU,https://twitter.com/dog_rates/status/723673163800948736/photo/1,10,10,Ivar,None
3733,679475951516934144,NaN,NaN,2015-12-23 01:37:45,Twitter for iPhone,This is Evy. She doesn't want to be a Koala. 9/10 https://t.co/VITeF0Kl9L,https://twitter.com/dog_rates/status/679475951516934144/photo/1,9,10,Evy,None
6182,672160042234327040,NaN,NaN,2015-12-02 21:06:56,Twitter for iPhone,This is Bubba. He's a Titted Peebles Aorta. Evolutionary masterpiece. Comfortable with his body. 8/10 great pupper https://t.co/aNkkl5nH3W,https://twitter.com/dog_rates/status/672160042234327040/photo/1,8,10,Bubba,pupper

In [57]:
#reset indecies
tweets_archive_clean = tweets_archive_clean.sort_values(['tweet_id'],ascending=False).reset_index(drop=True)

In [58]:
tweets_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None

## 2 - Tweets Images Predictions Table

1 - Coulmns names are not clear

#### Define 
Rename columns

#### Code

In [59]:
tweets_image_predictions = tweets_image_predictions.rename(columns={'p1': 'first_prediction','p1_conf': 'first_prediction_confidence_interval','p1_dog':'is_first_prediction_a_breed'
                                                                   , 'p2': 'second_prediction','p2_conf': 'second_prediction_confidence_interval','p2_dog':'is_second_prediction_a_breed'
                                                                   , 'p3': 'third_prediction','p3_conf': 'third_prediction_confidence_interval','p3_dog':'is_third_prediction_a_breed'})

#### Test

In [60]:
tweets_image_predictions.head()

,tweet_id,jpg_url,img_num,first_prediction,first_prediction_confidence_interval,is_first_prediction_a_breed,second_prediction,second_prediction_confidence_interval,is_second_prediction_a_breed,third_prediction,third_prediction_confidence_interval,is_third_prediction_a_breed
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

## 3 - Tweets Counts Table

1 - Tweets counts should be part of the tweets archive table

#### Define
Merge the tweets_counts columns to the tweets_archive table, joining on tweet id

#### Code

In [61]:
tweets_archive_clean = pd.merge(tweets_archive_clean, tweets_counts_clean,
                            on=['tweet_id'], how='left')

#### Test

In [62]:
tweets_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,8853,39467
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,6514,33819
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,4328,25461
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,8964,42908
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,9774,41048

<a id='Storing'></a>
## Storing

In [63]:
tweets_archive_clean.to_csv('twitter_archive_master.csv',index=False)

In [64]:
tweets_image_predictions_clean.to_csv('tweets_image_predictions_clean.csv',index=False)